h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

body {
  font-family: Inter, sans-serif;
  background-color: #ffffff;
  color: #2e363e;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 3px solid #275f7a;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #275f7a;
}

.header-nav {
}
.header-list {
  display: flex;
  gap: 40px;
}

/* .header-item:not(:last-child) {
  margin-right: 40px;
} */

.header-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #2e363e;
  padding-top: 41px;
  padding-bottom: 41px;
  display: block;
}

.header-link:hover,
.header-link:focus {
  color: #275f7a;
}

.header-contact {
}
.header-contact-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.52;
  text-align: right;
  color: #275f7a;
}
/* request */
.request {
  padding: 100px 0;
  background-color: #fafafa;
}
.request-title {
  max-width: 707px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1.3;
  text-align: center;
  color: #2e363e;
  margin-bottom: 26px;
}
.request-text {
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2e363e;
  margin-bottom: 50px;
}
.request-form {
}
.request-box {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}
.request-label {
  display: block;
  margin-right: 20px;
}
.request-input {
  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 5px;
  padding: 16px 21px;
  width: 280px;
  height: 70px;
  padding-left: 30px;
  background: transparent;
  outline: transparent;
}
.request-input:focus {
  border-color: #275f7a;
}
.request-input::placeholder {
  font-size: 17px;
  line-height: 1.1;
  color: #bfbfbf;
}
.request-btn {
  border-radius: 5px;
  padding: 25px 41px;
  min-width: 280px;
  height: 70px;
  background-color: #275f7a;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
  border: none;
}
.request-checkbox {
}
.visually-hidden {
}
.request-check-box {
  text-align: center;
}
.request-check-label {
  font-size: 11px;
  line-height: 1.3;
  color: #7e868e;
}
.custom-checkbox {
  border: 1px solid #000;
  border-radius: 2px;
  width: 12px;
  height: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 7px;
}
.request-checkbox:checked + .request-check-label > .custom-checkbox {
  fill: #fff;
  background-color: #275f7a;
  border: none;
}
.request-info {
  color: #275f7a;
  text-decoration: underline;
}
/* Modal */

.backdrop {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.56);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  min-height: 854px;
  background-color: #fff;
  padding: 76px 67px 76px 50px;
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #275f7a;
  color: #fff;
  border: none;
}

.modal-subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #000;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 19px;
}

.modal-subtitle::before {
  content: "";
  display: block;
  background-color: #d8d8d8;
  width: 143px;
  height: 2px;
}

.modal-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.26;
  letter-spacing: 0.03em;
  color: #022c40;
  margin-bottom: 31px;
}

.modal-title-part {
  color: #000;
}

.modal-text {
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #022c40;
  margin-bottom: 23px;
}
.modal-form {
}

.modal-label {
  display: block;
  margin-bottom: 23px;
}

.modal-input {
  border: 1px solid #cacaca;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  background: transparent;
  padding-left: 21px;
  outline: transparent;
}

.modal-input:focus {
  border-color: #275f7a;
}

.modal-input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #000;
}

.modal-message {
  height: 149px;
  resize: none;
  padding: 21px;
}

.modal-message-label {
  margin-bottom: 33px;
}

.modal-button {
  border-radius: 5px;
  min-width: 181px;
  height: 48px;
  background-color: #022c40;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border: none;
}
