h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

body {
  font-family: Inter, sans-serif;
  background-color: #ffffff;
  color: #2e363e;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 3px solid #275f7a;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #275f7a;
}

.header-nav {
}
.header-list {
  display: flex;
  gap: 40px;
}

/* .header-item:not(:last-child) {
  margin-right: 40px;
} */

.header-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #2e363e;
  padding-top: 41px;
  padding-bottom: 41px;
  display: block;
}

.header-link:hover,
.header-link:focus {
  color: #275f7a;
}

.header-contact {
}
.header-contact-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.52;
  text-align: right;
  color: #275f7a;
}
